.about-us-container {
    display: flex;
    gap: 2rem;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 1rem;
}

.about-us-right {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.about-us-text {
    padding: 2rem 0;

    & h3 {
        font-size: 3rem;
        padding-top: 1rem;
        color: #12372A;
    }

    & h4 {
        color: #F1C30C;
        font-size: 1.5rem;
    }

    & p {
        color: #12372A;
    }
}

.about-us-components {
    display: flex;
    gap: 1rem;
    padding: .5rem 0;

    #vision {
        border: 2px solid #ECECEC;
        border-radius: 10px;
        padding: 1rem;
        color: #12372A;
    }

    #mission {
        border: 2px solid #ECECEC;
        border-radius: 10px;
        padding: 1rem;
        color: #12372A;
    }
}

.about-us-contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    padding: .5rem 0;
    color: #12372A;
    
    & h3 {
        font-weight: 600;
        margin: 0;
    }

    & p {
        margin: 0;
        font-weight: 700;
    }
}

.about-us-contact {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about-us-btn {
background-color: #F1C30C;
  color: #12372A;
  border: 1px solid transparent;
  width: 160px;
  height: 45px;
  border-radius: 5px;
  font-weight: 700;

  &:hover {
    background-color: #12372A;
    color: #fff;
  }
}