.accordion-item {
    background-color: #ECECEC;
    color: #12372A;
    cursor: pointer;
    border: 1px transparent;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 700px;
    

    &.active {
        border-bottom: none;
        background-color: #F1C30C;
        color: #fff;

        .accordion-icon-circle {
            background-color: #F1C30C;
        }
        
        .accordion-icon {
            transform: rotate(225deg);
            width: 8px;
            height: 8px;
            border:2px solid #fff;
            border-top: none;
            border-left: none;
        }
        
        &.active + .accordion-content {
            display: block;
        }
        
        .accordion-content {
            display: block;
        }

        + .accordion-content {
            display: block;
        }
    }

    .accordion-question {
        font-size:1rem;
        width: 100%;
        max-width: 500px;
        font-weight: 600;
        margin-left: 20px;
    }

    .accordion-icon-circle {
        cursor: pointer;
        width: 32px;
        height: 32px;
        background-color: #ECECEC;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accordion-icon {
        width: 8px;
        height: 8px;
        border:2px solid #12372A;
        border-top: none;
        border-left: none;
        transform: rotate(45deg)
    }
}

.accordion-content {
    display: none;
}

.accordion-content.active{
    display: block;
}

.accordion-answer p {
    margin: 0;
    padding: 1rem;
    max-width: 690px;
    color: #12372A;
}





