.contact-form-container {
    background-color: #FAF8EC;
    width: 666px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    padding: 2rem;
    gap: 1rem; 
}

.input-group {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    gap: 0.5rem; 
}

.contact-row-form {
    display: flex;
    flex-direction: row;
    gap: 2rem; 
    width: 100%;
}

.contact-row {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem; 
}

.contact-form {
    width: 100%; 
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    padding: 1.2rem .5rem;
}

#email {
    width: 278px;
}

#telephone {
    width: 278px;
}

#name  {
    width: 590px;
}

#subject {
    width: 590px;
}

#comments {
    width: 590px;
    border: 1px solid #F1C30C;
    border-radius: 5px;
    padding: .8rem;
    height: 150px;
    resize: none;
}

.contact-input {
  border: 1px solid #F1C30C;
  border-radius: 5px;
  padding: .8rem;
  width: 400px;
}



