.contact-form-container {
    background-color: #FAF8EC;
    width: 666px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    padding: 2rem;
    gap: 1rem; 
}

.input-group {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    gap: 0.5rem; 
}

.contact-row-form {
    display: flex;
    flex-direction: row;
    gap: 2rem; 
    width: 100%;
}

.contact-row {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem; 
}

.contact-form {
    width: 100%; 
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-btn {
    background-color: #F1C30C;
    color: #12372A;
    border: 1px solid transparent;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    font-weight: 600;

    &:hover {
        background-color: #12372A;
        color: #fff;
        transition: 0.3s ease-in-out;
  }
}

#contactEmail {
    width: 278px;
    height: 60px;
}

#contactTelephone {
    width: 278px;
    height: 60px;
}

#contactName  {
    width: 590px;
    height: 60px;
}

#contactSubject {
    width: 590px;
    height: 60px;  
}

#contactComments {
    width: 590px;
    border: 1px solid #F1C30C;
    border-radius: 5px;
    padding: .8rem;
    height: 150px;
    resize: none;
}

.contact-input {
  border: 1px solid #F1C30C;
  border-radius: 5px;
  padding: .8rem;
  width: 400px;
}


.contactform-submitted {
    background-color: #FAF8EC;
    width: 666px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1rem; 
    border-radius: 5px;
}
.contactform-submitted-text {
    color: #12372A;
}

.contactform-submitted-btn {
    background-color: #F1C30C;
    color: #12372A;
    border: 1px solid transparent;
    width: 130px;
    height: 45px;
    border-radius: 5px;
    font-weight: 700;

    &:hover {
        background-color: #12372A;
        color: #fff;
        transition: 0.3s ease-in-out;
  }
}

.contact-input-error {
    border: 1px solid red;
}

.contact-input-error::placeholder {
  color: red;
}

.contact-error {
    flex-direction: column;
    color: red;
    font-size: .7rem;
}

.contact-input-error-p {
    color: red !important;
}

.red-star {
    color: red;
}

#contactComments.contact-input-error {
    border: 1px solid red;
}






