a:visited {
  color: inherit;
}

.header-top-bg {
  background-color: #12372A;
  padding: .5rem 0;
}
.header-contact {
  display: flex;
  justify-content: flex-start;
}

.call-us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  width: 200px;
  
  & p {
    color: #fff;
  }
}

.mail-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: .5rem;

  & p {
    color: #fff;
  }
}

.contact-icons {
  width: 18px;
  height: auto;
}

.header-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-top{
  padding: 0 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header-nav {
    color: #12372A;
    display: flex;
    gap: 2rem;
    font-weight: 600;
}

.header-nav a {
    text-decoration: none;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1C30C;
  color: #12372A;
  border: 1px solid transparent;
  min-width: 100px;
  min-height: 50px;
  border-radius: 5px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.btn.header-btn:hover {
  background-color: #12372A;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.header-btn:visited, .header-btn:link {
  color: #12372A;
}

.navlink-btn.active {
  color: #F1C30C;
}

.navlink-btn {
  color: #12372A;
}