.hero-bg {
    background-color: #12372ad0;
}
.hero-container {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;

}

.hero-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 735px;
    padding: 1rem 0;
    
    & h4 {
        font-size: 1.5rem;
        color: #F1C30C;
        padding: .5rem 0;
    }

    & h1 {
        font-size: 80px;
        font-weight: 800;
        padding: .5rem 0;
    }

    & p {
        color: #fff;
        padding: .5rem 0;
    }
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1C30C;
    color: #12372A;
    border: 1px solid transparent;
    min-width: 150px;
    min-height: 50px;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    &:hover {
    background-color: #FFF;
    color: #12372A;
    transition: 0.3s ease-in-out;
  }
}

.hero-button {
    width: 150px;
    padding-top: .5rem;
}