.newsletter-container {
    display: flex;
    gap: 1rem;
}
.newsletter-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: .5rem;
}
.newsletter-input {
  border: 1px solid #F1C30C;
  border-radius: 5px;
  padding: .8rem;
  width: 400px;
}

.newsletter-input:focus {
    outline: none;
    border-color: #12372A;
}

.newsletter-input::placeholder {
  color: #F1C30C;
}

.subscribe-btn {
  background-color: #F1C30C;
  color: #12372A;
  border: 1px solid transparent;
  width: 130px;
  height: 45px;
  border-radius: 5px;
  font-weight: 700;

  &:hover {
    background-color: #12372A;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
}

.input-error {
    border: 1px solid red;
}

.input-error::placeholder {
  color: red;
}

.newsletter-error {
    flex-direction: column;
    color: red;
    font-size: .8rem;
}

.input-btn-container {
    display: flex;
    gap: 1rem;
}

.newsletter-submitted {
  color: #12372A;
  
}

.newsletter-submitted-text {
  padding-bottom: 1rem;
}

.newsletter-submitted-btn {
  background-color: #F1C30C;
  color: #12372A;
  border: 1px solid transparent;
  width: 130px;
  height: 45px;
  border-radius: 5px;
  font-weight: 700;

  &:hover {
    background-color: #12372A;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
}