.newsletter-form {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.newsletter-input {
  border: 1px solid #F1C30C;
  border-radius: 5px;
  padding: .8rem;
  width: 400px;
}

.subscribe-btn {
  background-color: #F1C30C;
  color: #12372A;
  border: 1px solid transparent;
  width: 130px;
  height: 45px;
  border-radius: 5px;
  font-weight: 700;

  &:hover {
    background-color: #12372A;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
}