.our-services-container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 1rem;
    

    & h4 {
        color: #F1C30C;
        font-size: 1.5rem;
    }
}

.our-services-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: .5rem;

    & h2 {
        font-size: 3rem;
        color: #12372A;
        font-weight: 700;
        width: 620px;
    }

    & p {
        color: #12372A;
        padding-top: .8rem;
        width: 690px;
    }
}

.our-services-bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.our-services-middle-container {
    background-color: #c7c7c7;
    border: 4px solid gainsboro;
    width: 520px;
    height: 330px;
}

.our-services-tiles {
    width: 390px;
    height: 155px;
    font-weight: 400;
    padding: 1rem;
}