.page-not-found-bg {
    background-color: #12372ad0;
}

.page-not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    height: 100dvh;
    width: 100%;
    max-width: 645px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 1rem;
}

.page-not-found-container h5 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.page-not-found-container h1 {
    color: #F1C30C;
    font-size: 5rem;
    font-weight: 700;
}

.page-not-found-container p {
    color: #fff;
}

.page-not-found-btn {
    color: #12372a;
    min-width: 160px;
    height: 50px;

    &:hover {
        background-color: #fff;
        color:#12372a;
    }
}