.testimonials-bg {
background-image: linear-gradient(#12372ad0), url('/TestimonialsBG.svg');
}

.testimonials-container {
    width: 100%;
    max-width: 1320px;
    height: 670px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 1rem;
}
.testimonials-headline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & h3 {
        color: #F1C30C;
        font-size: 1.5rem;
    }
    & h2 {
        color: #fff;
        font-size: 3.5rem;
    }
    & p {
        color: #fff;
        text-align: center;
    }
}

.testimonials-boxes {
    display: flex;
    padding-top: 2rem;
    gap: 1rem;
}
.testimonials-box {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        max-width: 440px;
        height: 290px;
        padding: 1rem;
    }


.testimonials-person {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
    color: #12372A;
    

    & h5 {
        font-size: 1rem;
        padding-bottom: .5rem;
    }
    & p {
        font-size: .8rem;
    }
}

.img-placeholder {
    background-color: grey;
    border-radius:50%;
    width: 100px;
    height: 100px;
    padding: 1rem;
}

.testimonials-quote {
    position: relative;
    left: 75px;
}

.star-rating {
    padding:1rem 0;
    display: flex;
    gap: .2rem;
    align-items: center;
}

.testimonials-comment {
    color: #12372A;
}

.testimonials-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

