.title-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10rem;
    background-color: #12372ad0;
    width: 100%;
    height: 470px;

    & h1 {
        font-size: 5rem;
        color: #F1FFEA;
        font-family: "inter", sans-serif;
    }

    & p {
        font-size: 1rem;
        color: #F1FFEA;
        width: 650px;
        font-family: "inter", sans-serif;
    }
}


