.why-choose-us-bg {
    background-color: #FAF8EC;
}

.wcu-container {
    display: flex;
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 1rem;
    gap: 3rem;
}

.wcu-left-top {

    & h3 {
        color: #F1C30C;
        font-size: 1.5rem;
    }
    & h2 {
        color: #12372A;
        font-size: 3.5rem;
        width: 713px;
        padding-bottom: 1.5rem;
    }
}

.wcu-left-bottom {
    color: #12372A;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    padding: .5rem 0;
}

.wcu-left-bottom h5 {
    font-size: 1.5rem;
}

.wcu-right {
    padding: 2.5rem 0;
}

.wcu-right-text {
    color: #12372A;
    padding-bottom: 5rem;
}

.wcu-placeholder {
    background-color: #c7c7c7;
    border: 4px solid gainsboro;
    width: 659px;
    height: 424px;
}