@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "urbanist", sans-serif;
}

p {
  color: #12372A;
}

.WCU-homePage {
  background-color: #FAF8EC;
}

.WCU-about-us {
  background-color: #fff;
}

.WCU-bookingpage {
  background-color: #FAF8EC;
}

.testimonials-homepage {
  background-image: linear-gradient(#12372ad0), url('/TestimonialsBG.svg');
}

.testimonials-aboutUsPage, .testimonials-servicePage {
  background-color: #12372ad0;
}